body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:651px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:375px;
  height:651px;
}
#u4250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:318px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:190px;
  background:inherit;
  background-color:rgba(100, 210, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:375px;
  height:190px;
}
#u4252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:87px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:44px;
}
#u4254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:377px;
  height:44px;
}
#u4255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u4256 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:27px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u4257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4258 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:27px;
  width:24px;
  height:24px;
}
#u4259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4260 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:26px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:499px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(215, 215, 215, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(215, 215, 215, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(215, 215, 215, 0.349019607843137);
}
#u4263 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:102px;
  width:353px;
  height:499px;
}
#u4264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u4265 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:159px;
  width:353px;
  height:1px;
  color:#D7D7D7;
}
#u4266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u4267 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:122px;
  width:241px;
  height:22px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u4268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u4269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4269 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:177px;
  width:315px;
  height:394px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
